{% extends 'base.html' %}
{% set active_page = "home" %}

{% block title %} Index {% endblock %}

{% block body %}
    <h1 align="center">Product Balance Summary</h1>

    <div class="form-horizontal" title="Summary">
        {% if summary_data == None or summary_data|length == 0 %}
            <h3 align="center" class="font-weight-light">Summary not available yet</h3>
        {% else %}
            <button style="margin-bottom: 10px;float: right" class="btn btn-primary"><a style="color: #ffffff" href="{{ url_for('generate_report') }}" target="_blank">Download Report</a></button>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Location</th>
                        <th scope="col">Quantity(Available)</th>
                    </tr>
                    </thead>
                    <thead>
                    {% for data in summary_data %}
                        <tr>
                            <td>{{ data.product_name }}</td>
                            <td>{{ data.location_name }}</td>
                            <td>{{ data.product_qty_balance }}</td>
                        </tr>
                    {% endfor %}
                    </thead>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
