{% extends 'base.html' %}
{% set active_page = "location" %}

{% block title %} Warehouses {% endblock %}

{% block body %}
    <div style="display: flex;justify-content: space-between;align-items: center">
        <h1>All Warehouses</h1>
        <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#add_location"> + New Warehouse</button>
        <div id="add_location" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="trans_message"
             aria-hidden="true">
            <form action="{{ url_for('location') }}" method="POST" class="base_form">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <h2 style="margin-left: 15px; margin-top: 10px">Add New Warehouse</h2>
                        <div class="modal-body"><label>Warehouse Name</label><input
                                style="width: 100%; border: solid 1px; border-radius: 5px" id="location_name"
                                name="location_name" placeholder=" Enter location Name" required></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Add location</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if locations %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <table class="table">
            <thead>
            <th scope="col">Location ID</th>
            <th scope="col">Location Name</th>
            <th scope="col">Product List</th>
            </thead>
            <tbody>
            {% for location in locations %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ location.location_name }}</td>
                    <td>{{ location.product_list }}</td>
                    <td>
                    </td>
                    <td>
                        <button style="width: 100%" name="button" type="button" class="btn btn-sm btn-success" value="edit"
                                data-toggle="modal" data-target="#edit_{{ location.id }}">Rename
                        </button>
                        <br>
                        <div id="edit_{{ location.id }}" class="modal fade" tabindex="-1" role="dialog"
                             aria-labelledby="trans_message" aria-hidden="true">
                            <form action="{{ url_for('location') }}" method="POST" class="base_form">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <h2 style="margin-left: 15px; margin-top: 10px">Rename Location</h2>
                                        <div class="modal-body"><label>Warehouse Name</label><input
                                                style="width: 100%; border: solid 1px; border-radius: 5px"
                                                name="location_name" value="{{ location.location_name }}" required>
                                        </div>
                                        <div class="modal-footer">
                                            <input name="location_id" value="{{ location.id }}" hidden
                                                   aria-hidden="true">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                            </button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}

            </tbody>

        </table>

    {% else %}
        <h3>No Warehouse Location Available To Display. Add now.</h3>
    {% endif %}
{% endblock %}
